#root {
	max-width: 768px;
	min-width: 768px;
	margin: 0 auto;
}

/* getting rid of scrollbar until i learn to make bottom playbar ignore it */
::-webkit-scrollbar {
	display: none;
}

.playlist-page__titlestats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 20px;
}

.playlist-page__title {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.playlist-page__title-createdby {
	font-size: 18px;
}
.playlist-page__top-contribs {
	margin-left: auto;
}

.playlist-page__search-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.playlist-page__search-bar i {
	padding-top: 10px;
	z-index: 99;
}
.playlist-page__search-bar div {
	width: 250px;
}

.Select-arrow-zone {
	display: none;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 45px;
	padding-top: 5px;
}

.header__bop,
.header__bop a {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: #a223bc;
	margin: 0;
	text-decoration: none;
}
.header__login {
	margin: 0;
	align-self: middle;
}
.header__login-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
}
.header__login-form-dropdown {
	position: absolute;
	right: 0;
	z-index: 69;
}

.selected-purple {
	color: purple;
}

#post_song {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 100;
}

.song-title {
	max-width: 150px;
	width: 150px;
}
.vote-info {
	max-width: 50px;
	width: 50px;
}
.song-artist {
	max-width: 100px;
	width: 100px;
}
.song-postee {
	max-width: 100px;
	width: 100px;
}
.play-info {
	width: 30px;
	max-width: 30px;
}
.song-playlist {
	max-width: 100px;
	width: 100px;
	color: purple;
}
.song-date {
	width: 75px;
	max-width: 75px;
}
.song-duration {
	width: 40px;
	max-width: 40px;
}
.header-row {
	justify-content: space-around;
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid lightgray;
}
.header-row .song-duration {
	display: flex;
	justify-content: center;
	padding-top: 3px;
}

.song-div {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 41px;
	max-height: 70px;
}
.song-div span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.vote-count {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #464444;
	padding-left: 0.5px;
	margin-top: -10px;
}

.duration {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
	color: #000000;
	line-height: 25px;
}

.song-div {
	display: flex;
	height: 50px;
	justify-content: space-around;
}
.song-div:hover {
	background-color: lightgray;
}

.up-chevron-selected {
	color: #f6ae0c;
}

.song-div img {
	height: 80px;
	width: 80px;
}

.play-info i {
	padding-top: 6px;
	display: flex;
}

.vote-info {
	flex-direction: column;
	display: flex;
	text-align: center;
}

.active {
	color: purple;
}
.pointer {
	cursor: pointer;
}
#ftue-hero {
	background-image: url("./images/listening.png");
	height: 365px;
	background-position-y: -90px;
	clear: both;
}
#ftue-hero-text {
	font-family: Roboto;
	font-weight: 100;
	display: block;
	font-size: 50px;
	color: #000000;
	line-height: 68px;
	padding-top: 20px;
	margin-left: 20px;
}
#ftue-play-button {
	background: #464444;
	border: 1px solid #979797;
	border-radius: 8px;
	width: 256px;
	height: 78px;
	margin-left: 85px;
	margin-top: 20px;
}
#ftue-play-button-text {
	font-family: Roboto;
	font-weight: 100;
	font-size: 50px;
	color: #ffffff;
	line-height: 68px;
	display: block;
	text-align: center;
}

.topcontributors {
	display: flex;
	flex-direction: column;
}

.topcontributors__list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.playing-bar {
	display: flex;
	position: fixed;
	bottom: 0;
	height: 70;
	width: 100%;
	left: 0;
	background-color: #333333;
	color: lightgray;
	justify-content: center;
}
.playing-bar__width-wrapper {
	width: 768px;
	display: flex;
}
.playing-bar__play-controls {
	display: flex;
	width: 250px;
	height: 100%;
	align-items: flex-end;
	justify-content: space-around;
	padding-bottom: 20px;
}
.playing-bar__player {
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px;
}
/*
 * Thank you: http://getbootstrap.com.vn/examples/equal-height-columns/
 * Row with equal height columns
 * --------------------------------------------------
 */
.container {
	padding-right: 15px;
	padding-left: 15px;
}

.search-result-thumbnail-wrapper img {
	max-height: 45px;
	padding-right: 10px;
}

.search-result-thumbnail-wrapper.is-focused {
	background-color: rgba(100, 100, 200, 0.5);
}
